<div class="page_section">
    <div class="page_content">
       <div class="about_slider_box">
                {% for block in section.blocks %}
                     {% if block.settings.img != blank and block.type == 'slider' %}
                      <div class="about_image">
                            <span class="acc_txt_txt">{{ block.settings.text }}</span>
                        </div> 
                     {% endif %}
                    {% endfor %}
  </div>

</div>

</div>

{% schema %}
{
  "name": "About Slider",
  "settings": [],
"blocks":[
 {
  "type": "slider",
  "name": "slider",
  "settings":[
   {
    "type": "image_picker",
    "id": "img",
    "label": "Image"
   }
 
  ]
 }	 
],
"presets":[
 {
  "name": "About Slider"
 }
]
}
{% endschema %}