<div class="cell-tab_main">
  <div class="cell-tab_main">
    <div class="cell-tab_main_left">
      {% for block in section.blocks %}
      {% if block.settings.text != blank and block.type == celltab %}
      <div class="box">
          <img src="{{block.settings.img | img_url: 'original'}}">
          <div class="acc_txt">
            <span class="acc_txt_txt">{{ block.settings.text }}</span>
          </div>
        </div>
        </div>

    </div>  

    <div class="cell-tab_main_right">
    
    </div>  

  </div>
</div>

{% schema %}
{
  "name": "Cell Tab",
  "settings:":[],
  "blocks": [
  {
    "type": "celltab",
    "name": "celltab",
    "setings": [
      "type:"
    ]
  }
  ]
}
{% endschema %}
