<div class="products-single-add">
  {% assign collection = collections["all"] %}
  <h2>{{ customer.orders.size }}</h2>
  <ul>
  {% for product in collection.products %}
  <li>{{ product.title }}</li>
  {% endfor %}
  </ul>
</div>
{% schema %}
  {
    "name": "List of products",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}