 <div class="shipping-return-wrapper">
   
 </div>
{% schema %}
{
  "name": "Shipping Return",
  "class": "shipping-return",  
  "settings": [
  {
    "type": "text",
    "id": "sec_head",
    "label": "Heading"
  },
  {
    "type": "text",
    "id": "sec_subhead",
    "label": "Sub Heading"
  },
  {
    "type": "image_picker",
    "id": "cartoon_img",
    "label": "ButterFly Image"
  }    
  ],
  "presets": [
  {
    "name": "Shipping Return"
  }
  ]
}
{% endschema %}