 <div class="landing-pages-main">
 {% if section.settings.sec_head != blank %}
  <h2>{{ section.settings.sec_head }}</h2>
  <p>{{ section.settings.sec_subhead }}</p>
 {% endif %}
  {% if section.settings.settings.cartoon_img != blank %} 
  <div class="cartoon_img">
    <img src="{{ section.settings.cartoon_img | img_url: 'master' }}" alt="" />
  </div>
 {% endif %}
 </div>
{% schema %}
  {
    "name": "Shipping Return Policy",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}