<div class="sleep-products-cards-wrapper">
  {% for block in section.blocks %}
    {% case block.type %}
    	{% when 'card' %}
        <div class="card-left">
          <h2>{{ block.settings.heading }}</h2>
          <p>{{ block.settings.subheading }}</p>
          <a href="{{ block.settings.shop_all_url }}">{{ block.settings.shop_all }}</p>

        </div>
  {% endcase %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "Sleep Products List",
  "class": "sleep-products-cards",
  "settings": [
  ] ,
  "blocks": [
  {
	"type": "card",
	"name": "Sleep Products Cards",
	"settings": [      
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Sub Heading"
          },    
          {
            "type": "text",
            "id": "shop_all",
            "label": "Shop Button"
          },
          {
            "type": "text",
            "id": "shop_all_url",
            "label": "Shop Button URL"
          }      
      ]
  },
  {
      "type": "Tags",
      "name": "Tag List",
      "settings": [
        {
          "type": "text",
          "id": "tag_head",
          "label": "Tags Heading"
        },
        {
          "type": "text",
          "id": "tag_name",
          "label": "Tag Name"
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Sleep Products List"
  }
  ]
}
{% endschema %}