.cell-salt-templete .hero-banner .hero-text-box {
    max-width: 656px;
    margin-left: 0;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-color: #000;
    border-style: solid;
    border-radius: 12px;
    min-height: 50px;
    left: 90px;
}
.cell-salt-templete .hero-banner .hero-text-box h1 {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    font-size: 62px;
}

.cell-tab_main {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cell-tab_main .cell-tab_main_left {
    max-width: calc(58% - 40px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.cell-tab_main .cell-tab_main_left .box:not(:nth-child(3n)) {
    margin-right: 15px;
}
.cell-tab_main .cell-tab_main_right {
    max-width: calc(41% - 40px);
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.cell-tab_main .cell-tab_main_left .box {
    max-width: calc(33.33% - 10px);
    width: 100%;
    text-align: center;
    border: 2px solid #1b4388;
    border-radius: 3px;
    cursor: pointer;
    padding-top: 35px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.cell-tab_main .cell-tab_main_left .box img {
    width: 100%;
    height: 50px;
    object-fit: contain;
}
.cell-salt-templete .cell-tab_main {
    padding-top: 30px;
    padding-bottom: 50px;
}
.cell-tab_main .cell-tab_main_left .box .acc_txt span {
    width: 100%;
    font-family: Gotham;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.37px;
    color: #1b4388;
    text-transform: uppercase;
    height: 40px;
}

.cell-tab_main .cell-tab_main_left .box .acc_txt {
    line-height: 100%;
}
.cell-tab_main .cell-tab_main_right h2 {
    font-size: 40px;
   text-transform: none;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}
.cell-tab_main .cell-tab_main_right .cell_tab_text p:not(:first-child) {
    margin: 20px 0;
}
.cell-tab_main .cell-tab_main_right .cell_tab_text p {
    font-size: 20px;
    font-family: 'poppins-regular';
    line-height: normal;
}
.cell_salt_image_text {
    display: flex;
    max-width: 80%;
    margin: 150px auto;
}
