/*Slee Page Start*/
.sleep-banner-main{
    margin: 40px 40px 0px 40px;
    padding: 70px;
    background-image: linear-gradient(to bottom,#43598d 0%,#09274e 100%);
    border-radius: 15px;
    border: 1px solid #000;
}
.sleep-banner{
    background-color: #fff;
    border: 1px solid #000;
    padding-top: 30px;
    padding-left: 97px;
    padding-bottom: 20px;
    padding-right: 97px;
    border-radius: 15px;
}

.sleep-banner h1{
    font-size: 42px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    padding: 10px 0;
}
.sleep-banner p{
    padding: 10px 0;
    line-height: 30px;
    font-size: 20px;
}
.sleep-products-cards{
    padding: 90px 97px 0px 97px;
}
.sleep-products-cards-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
    align-items: center;
}

.sleep-products-cards-wrapper:nth-child(even){
    flex-direction: row-reverse;
  }
  .sleep-products-cards-wrapper:nth-child(even) .card-left{
    padding: 50px 0px 50px 50px;
  }
.sleep-products-cards-wrapper .card-left{
    width: calc(41.66666666666667% - 15.0px);
    padding: 50px 50px 50px 0px;
}
.sleep-products-cards-wrapper .card-right{
    width: calc(58.333333333333336% - 15.0px);
}
.card-left h2{
    font-size: 42px;
    line-height: 1.19em;
    letter-spacing: 0.84px;
    font-size: 'Gotham';
    margin: 0;
}
.card-left p{
    line-height: 28px;
    margin-top: 20px;    
    margin-bottom: 50px;
    font-size: 18px;
}

.card-left a{
    padding-top: 16px;
    padding-left: 65px;
    padding-bottom: 16px;
    padding-right: 65px;
    background-color: #1b4388;
    border: 1px solid #1b4388;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    font-size: 13px;
    font-family: Gotham;
    transition: 0.3s;
}
.card-left a:hover{
    color: #1b4388;
    background-color: #fff;
}
.sleep-products-cards-wrapper .tags_list{
    margin-top: 40px;
}
.sleep-products-cards-wrapper .tags_list h3{
    font-family: 'Gotham';
    margin: 0;
    font-size: 12px;
    color: #1b4388;
    font-weight: bold;
}
.sleep_tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.sleep_tag p{
    display: inline-block;
    padding: 7.5px 15.3px;
    font-size: 10px;
    background-color: #FFE37B;
    border-radius: 50px;
    color: rgba(27, 67, 136, 1);
    text-transform: uppercase;
    font-family: 'Gotham';
    letter-spacing: 0.06rem;
    line-height: 2;
    margin: 0;
    margin-top: 12px;
}
.sleep_tag p:not(:first-child){
    margin-left: 6px;
}
.card-right img{
    width: 100%;
    border-radius: 20px;
}
.our-sleep{
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 50px 50px 50px;
    max-width: 1324px;
}
.our-sleep h2{
    margin: 0;
    text-align: center;
    line-height: 1.19em;
    letter-spacing: 0.84px;
}
.c-love-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 52px;
}
.c-love-wrap{
    width: calc(50% - 15px);
    padding-top: 36px;
    padding-left: 65px;
    padding-bottom: 36px;
    padding-right: 65px;
    border: 1px solid #1b4388;
    border-radius: 10px;
}
.c-love-wrap h3{
    font-size: 24px;
    font-family: 'poppins-regular';
    font-weight: bold;
    margin: 0;
    line-height: normal;
}
.c-love-wrap img{
    max-width: 120px;
    margin-top: 10px;
}
.c-love-wrap .card_text{
    font-size: 16px;
    letter-spacing: normal;
    margin: 20px 0;
}
.cust_name{
    font-size: 16px;
    letter-spacing: normal;
}
.cust_name span{
    font-weight: bold;
}

/*  Responsive  */
@media screen and (max-width: 1199px) {
    .sleep-products-cards{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media screen and (max-width: 991px) {
    .sleep-banner{
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .sleep-banner-main{
        margin: 30px 30px 0px 30px;
        padding: 50px;
    }
}
@media screen and (max-width: 820px) {
    .sleep-products-cards{
        padding-left: 30px;
        padding-right: 30px;
    }
    .sleep-products-cards-wrapper .card-left{
        margin-top: 48px;
    }
    .card-left a{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sleep-products-cards-wrapper:nth-child(even){
        flex-direction: column-reverse;
    }
    .card-left p{
        margin-top: 50px;
    }
    .sleep-products-cards-wrapper:nth-child(even) .card-left{
        padding: 0;
    }
    .sleep-products-cards-wrapper{
        flex-direction: column-reverse;
    }
    .sleep-products-cards-wrapper .card-left{
        width: 100%;
        padding: 0;
    }
    .sleep-products-cards-wrapper .card-right{
        width: 100%;
    }
    .our-sleep{
        padding: 0px 30px 50px 30px;
    }
    .c-love-wrap{
        width: calc(50% - 15px);
        padding: 25px 45px;
    }

}
@media screen and (max-width: 767px) {
    .sleep-banner{
        padding-left: 30px;
        padding-right: 30px;
    }
    .sleep-banner-main{
        margin: 30px 20px 0px 20px;
        padding: 40px 30px;
    }
    .sleep-banner-main{
        margin-top: 40px;
    }
    .sleep-banner{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .sleep-banner h1{
        padding-bottom: 0;
    }
    .sleep-banner p{
        padding-top: 0;
    }
    .sleep-products-cards{
        padding-top: 65px;
    }
    .sleep-products-cards-wrapper .card-left{
        margin-top: 20px;
    }
    .card-left p{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sleep_tag{
        justify-content: center;
        margin-top: 10px;
    }
    .sleep-products-cards-wrapper{
        margin-bottom: 65px;
    }
    .sleep_tag p{
        margin: 3px 0;
    }
    .c-love-wrap{
        width: 100%;
        margin-bottom: 30px;
    }
    .our-sleep{
        margin-top: 80px;
    }
}


/*Sleep Page End*/
